apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ingress-appset
  namespace: argocd
spec:
  project: default
  source:
    repoURL: '{{.repoUrl}}'
    targetRevision: '{{.targetRevision}}'
    path: local-cluster/apps/ingress
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
    - ServerSideApply=true
