apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: vault-appset
  namespace: argocd
spec:
  project: default
  source:
    repoURL: 'https://github.com/pc-dae/observability-hub-poc.git'
    targetRevision: main
    path: local-cluster/core/appsets/vault
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
    - ServerSideApply=true
