export top_level=$(git rev-parse --show-toplevel)
export target_path="./local-cluster"
export utils_dir="$(realpath ${top_level})"
export config_dir="$(realpath ${top_level})"
export global_config_branch=main # Update if needed
if [ -f resource/.vault-init.json ]; then
  export VAULT_TOKEN=$(jq -r '."root_token"' resources/.vault-init.json)
fi

export local_dns=kubernetes.docker.internal # Update if needed, this is for Docker for MacBook.

export VAULT_ADDR=https://vault.${local_dns}

# Update the following values to match your environment.

export CLUSTER_NAME=paulc
export GITHUB_SERVER=github.com
export GITHUB_MGMT_ORG=pc-dae
export GITHUB_MGMT_REPO=observability-hub-poc
export USER_EMAIL=paul.carlton@dae.mn
export GITHUB_USER=paul-carlton
export REGISTRY=paulcarlton

[ -f $utils_dir/bin/lib.sh ] && source $utils_dir/bin/lib.sh
add_to_path ${utils_dir}/bin
