apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: mimir
  namespace: argocd
spec:
  destination:
    namespace: monitoring
    server: https://kubernetes.default.svc
  project: default
  source:
    chart: mimir-distributed
    helm:
      values: |
        mimir:
          structuredConfig:
            memberlist:
              join_members:
                - '{{ printf "%s-gossip-ring.%s.svc.cluster.local" (include "mimir.fullname" .) .Release.Namespace }}'
        alertmanager:
          enabled: true
          config:
            data_dir: /data/alertmanager
        ruler:
          enabled: true
          config:
            alertmanager_url: http://localhost:8080/alertmanager
        nginx:
          enabled: true
        compactor:
          enabled: true
    repoURL: https://grafana.github.io/helm-charts
    targetRevision: 5.1.0
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
    - ServerSideApply=true
