apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cert-manager
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "0"
spec:
  project: default
  source:
    repoURL: 'https://charts.jetstack.io'
    chart: cert-manager
    targetRevision: v1.19.1
    helm:
      values: |
        installCRDs: true
        securityContext:
          runAsNonRoot: false
        webhook:
          hostNetwork: false
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: cert-manager
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
  hooks:
  - post-sync:
    - command: ["/bin/sh", "-c"]
      args:
      - |
        set -e
        set -x
        
        # Wait for the ClusterIssuer CRD to be established
        kubectl wait --for condition=established --timeout=60s crd/clusterissuers.cert-manager.io
