apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: tempo
  namespace: argocd
  annotations:
    argocd.argoproj.io/refresh: "hard"
spec:
  project: default
  source:
    repoURL: 'https://grafana.github.io/helm-charts'
    chart: tempo
    targetRevision: 1.24.0
    helm:
      values: |
        tempo:
          searchEnabled: true
        server:
          grpc_server_min_time_between_pings_ms: 10000
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: monitoring
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
    - Replace=true
